@model List<AirBench.Models.Bench>

@section MapStuff
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.0.1/css/ol.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Index.css" type="text/css">
    <style>
        .map {
            height: 600px;
            width: 70%;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.0.1/build/ol.js"></script>
}


@if (Request.IsAuthenticated)
{
    <h1>Welcome to AirBench, @ViewBag.Name! </h1>
}
else
{
    <h1>Welcome to AirBench </h1>
}

<div id="homepage">
    <div id="map" class="map"></div>


    <div id="list-container">
        <div id="filter">
            <label>Minimum Seats</label>
            <input id="min" type="number" value="1" />
            <br />
            <label>Maximum Seats</label>
            <input id="max" type="number" value="10" />
        </div>
        @Html.ActionLink("Add a Bench", "Add", "Bench")
        <div id="selectedBench"></div>
        <table id="list" class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th>Benches</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bench in Model)
            {
                    <tr data-numseats=@bench.NumSeats data-id=@bench.Id class="bench-row">
                        <td>
                            <ul>

                                @if (bench.GetRating() == null)
                                {
                                    <li>No Ratings</li>
                                }
                                else
                                {
                                    <li>Rating: @bench.GetRating()</li>
                                }
                                <li>@bench.Description</li>
                                @Html.ActionLink("Details", "Details", "Bench", new { id = bench.Id }, new { @class = "detail-link" })
                            </ul>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <div id="nav-buttons">
            <button id="prev" class="pure-button">Prev.</button>
            <button id="next"  class="pure-button">Next</button>
        </div>

    </div>
</div>



<script src="~/Scripts/Home.js">

</script>