@model AirBench.Models.Bench

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bench</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Rating
        </dt>
       
        @if(Model.GetRating() == null)
        {
            <dd>No Rating</dd>
        }
        else
        {
            <dd>@Model.GetRating()</dd>
        }
  
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        
    </dl>
    <p>Submitted by @Model.User.FirstName @Model.User.LastName[0]</p>

    <b>Reviews</b>

    @if (Model.Reviews.Count == 0){
        <p>No reviews yet</p>
    }
    @foreach (var review in Model.Reviews)
    {
        <ul>

            <li>
                Rating: @review.Rating
            </li>
            <li>
                Feedback: @review.Feedback
            </li>
            <p>Submitted on @review.SubmitedOn by @review.User.FirstName @review.User.LastName[0]</p>
        </ul>
    }
    @Html.ActionLink("Leave a Review", "Add", "Review", new { id = Model.Id}, null)
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
