@model AirBench.ViewModels.LoginUser

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "login-form" }))
{
    @Html.ValidationSummary()
    <div>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { id = "email"})
    </div>

    <div>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { id = "password" })
    </div>

    <div>
        <button type="submit" id="submit"class="pure-button">Login</button>
        @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "pure-button" })
    </div>

}

<p>
    @Html.ActionLink("Register", "Register")
</p>

<script src="~/Scripts/login.js">

</script>